
  <div class="jumbotron">
      <div class="container">
        <h1>Taller 1 - Daniel Gutierrez</h1>
      </div>
  </div>

<div class="container-home">
  <div class="list-item card" *ngFor="let item of list" >
    <h1>{{item.title}}</h1>
    <img src="{{item.img}}" alt="IMAGE">
    <h5>Fuente:  <u> {{item.src}} </u></h5>
    <h5>Score: <b> {{item.score}}</b></h5>


  </div>
  
</div>
    <div class="add-section" (click)="showAddPanel()">
      <div *ngIf="!addManager.visible"class="add-button">
        <h3>ADD</h3>
      </div >
      <div class="add-panel" *ngIf="addManager.visible">
        <h3 style="margin-bottom: 20px;">Agregar item</h3>
        <p style="margin:0;">Ingrese titulo:</p>
        <input [(ngModel)]="addManager.meme.title" type="text" >
        <p>{{addManager.meme.title}}</p>
        <button id="addButton" (click)="addItem()">Add</button>
      </div>
    </div>
    <div >

    </div>
